[submodule "ThirdParty/mapsforge"]
	path = ThirdParty/mapsforge
	url = git@github.com:grueni75/mapsforge
[submodule "ThirdParty/brouter"]
	path = ThirdParty/brouter
	url = git@github.com:grueni75/brouter
[submodule "ThirdParty/brouter-web"]
	path = ThirdParty/brouter-web
	url = git@github.com:grueni75/brouter-web
[submodule "ThirdParty/jmdns"]
	path = ThirdParty/jmdns
	url = git@github.com:grueni75/jmdns

[submodule "ThirdParty/acra"]
	path = ThirdParty/acra
	url = ../acra
